# History files
.Rhistory
.Rapp.history
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.Rproj.user

# html output from knitR
*.html
*.pdf
*.png

# Excel files
*.xls
*.xlsx

# ipython notebook checkpoints
Python/.ipynb_checkpoints/*
